//載入 google font -Noto Sans,Kalam,Nanum Gothic
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}
.font-fm-Kalam{
    font-family: 'Kalam', cursive;
}
.font-fm-NanumGothic{
    font-family: 'Nanum Gothic', sans-serif;
}
