//layout
h1{
    height: 64px; 
    width: 95.05px;
    a{
        background-image: url(../img/logo.png); 
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}
@include media-breakpoint-up(lg) { 
    h1{
        height: 88px; 
        width: 118.81px;
    }
}
.go-order{
    img{
        height: 101px;
        width: 160px;
    }
}
.go-adoption{
    img{
        height: 94px;
        width: 180px;
    }
}
@include media-breakpoint-up(lg) { 
    .go-order{
        img{
            height: 127px;
            width: 200px;
        }
    }
    .go-adoption{
        img{
            height: 105px;
            width: 200px;
        }
    }
}
main{
    background-image: url(../img/lightpaperfibers.jpg);
}

//index
.banner{
    background-image: url(../img/home_mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 634.28px;
    @include media-breakpoint-up(lg) { 
        background-image: url(../img/home.jpg);
        height: 810px;
    }
}

//黑色三角形
.dialogueBox::before {
    position:absolute;
    content:"";
    bottom:-27.5px;
    left:50%;
    transform:translateX(-50%);
    width: 0;
    height: 0;
    border-width:13px;
    border-style:solid;
    border-top-color: #000;
    border-right-color: transparent ;
    border-bottom-color: transparent;
    border-left-color: transparent ;
}
//白色三角形
.dialogueBox::after{
    position:absolute;
    content:"";
    bottom:-25px;
    left:50%;
    transform:translateX(-50%);
    width: 0;
    height: 0;
    border-width:13px;
    border-style:solid;
    border-top-color: #fff;
    border-right-color: transparent ;
    border-bottom-color: transparent;
    border-left-color: transparent ;
}

//introduce
.banner-introduce{
    background-image: url(../img/banner_service-sm.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 215px;
    @include media-breakpoint-up(md) {
        background-image: url(../img/banner.png);
        height: 288px;
    }
}

.cardImg-size-custom{
    width: 100px;
    height: 98.33px;
    @include media-breakpoint-up(lg){
        min-width: 203.39px;
        min-height: 200px;
    } 
}

//order
.order-table-area{
    .g-3{
        --bs-gutter-y: 18px;
    }
}

.order-table{
    border-top-left-radius: 0.6rem !important;
    border-top-right-radius: 0.6rem !important;
    border-top: 10px solid $primary !important;
}

